* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  background-image: url(../src/assets/Frame.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 40%;
  background-attachment: fixed;
  display: block;
  
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}